


body {
    opacity: 0;
    background-image: linear-gradient(black, rgb(88, 88, 88), black); 
    height: auto;
}

.name_wrapper {
    position: fixed;
    padding-top: 50px; /* Set your desired top padding */
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    justify-content: center;
    width: 20%;
    overflow: auto;
    padding-top: 5px;
    top: 0;
    text-align: center;

}

.information {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding-bottom: 10%;
    padding-top: 0%;
    color: #376177;

}



#element {
    color: rgb(144, 255, 186)
}

.space_container {
    height: 4rem;
}
.big_space_container {
    height: 2rem;
}

.sub_wrapper {
    text-align: center;
    color: #f7f7f7;
}

.divider {
    height: .5rem;
    background-color: #f7f7f7;
    outline: 1px black solid;
}

.main_container {
    display: flex;
    justify-content: space-around;
    height: 60%;
    width: 100%;
    outline: 5px solid black;
    background-color: #f7f7f7;
}


.sub_container {
    text-align: center;
    background-color: rgb(0, 0, 0);
    outline: #4DD091 solid 1px;
    padding: 10px;
}

#sub_body {
    color: white; 
    font-size: 2rem;
}





.school_img {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    cursor: pointer;
}

.bio_container {
    display: flex; /* Corrected typo */
    padding-left: 10rem;
    padding-right: 10rem;
    color: hsl(190, 88%, 71%);
    align-items: center;
    justify-content: center; /* Horizontally center content */
    word-break: keep-all;
}

#main_body {
    color: rgb(255, 255, 255);
    width: 100%;
    text-wrap: balance;
}



.name_header { 
    padding: 5%;
    padding-bottom: 0%;
    text-align: center;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #376177;
}









.name_container {
    background: #f7f7f7;
    height: auto;
    outline: 5px solid black;

}

.btn_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.access_btn {
    width: 130px;
    height: 130px;
    border: 1px solid white;
    box-shadow: inset 5px -5px 10px white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .01);
    backdrop-filter: blur(2px);
    bottom: -100px;
    animation: bubble 10s ease infinite;
    cursor: pointer;
}


.big_container {
    height: 10rem;
}

.hidden {
    opacity: 0;
}

.scroll_bar {
    position: fixed;
}

.name_sentence {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    color: black;
}

.fade-in {

    animation: fadeIn 3s forwards;
}






@keyframes bubble {
    
    0% {
        transform: translateY(0px);

    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.prog_bar {
    height: 100%;
    background-color: #4DD091; /* Green color for progress */
    transition: width 0.5s ease; /* Smooth animation */
}

/* Example: Set the progress to 50% */
.prog_bar[data-progress="50"] {
    height: .01rem;
    width: 50%;
}

.c_plus {
    width: 80%;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.progress_bar_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.wrapper{
    position: relative;
    align-items: center;
    background-color: black;
    width: 100%;
    /* box-shadow: 3px 3px 10px -1px rgba(0, 255, 17, 0.2),
    -3px -3px 10px -1px rgba(0, 213, 255, 0.2); */
    outline: #4DD091 solid 0.5px;
    border-radius: 10px;
    margin: 2rem;
    overflow: none;

}


.wrapper h3{
    font-size: 1.7rem;
    text-align: center;
}

.skills-wrapper{
    width: 100%;
    padding: 0 20px;
}

.skills-wrapper .bar{
    width: 100%;
    margin: 20px 0;

}

.skills-wrapper .bar .info {
    margin-bottom: 10px;
}

.skills-wrapper .bar .info span{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);


}

.skills-wrapper .bar .progress-bar{
    width: 100%;
    height: 15px;
    background-color: #dddddd;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    outline: black solid 1px;

}

.skills-wrapper .bar .progress-bar span{
    position: absolute;
    height: 100%;
    border-radius: 10px;
    width: 0%;
    background-color: #4DD091;
    
}

@keyframes animate_html {
    100%{
        width: 60%;
    }
}
@keyframes animate_c_plus {
    100%{
        width: 75%;
    }
}
@keyframes animate_js {
    100%{
        width: 50%;
    }
}
@keyframes animate_python {
    100%{
        width: 80%;
    }
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.fade-out {
    animation: fadeOut 2s forwards;
}



.skills-wrapper .bar .progress-bar span.html{
    animation: animate_html 1s cubic-bezier(1, 0 , 0.5, 1) forwards;
}

.skills-wrapper .bar .progress-bar span.c_plus{
    animation: animate_c_plus 1s cubic-bezier(1, 0 , 0.5, 1) forwards;
}


.skills-wrapper .bar .progress-bar span.javascript{
    animation: animate_js 1s cubic-bezier(1, 0 , 0.5, 1) forwards;
}

.skills-wrapper .bar .progress-bar span.python{
    animation: animate_python 1s cubic-bezier(1, 0 , 0.5, 1) forwards;
}

#baby_icon {
    background: linear-gradient(#c3907c , #d39b84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

#youtube_icon {
    background: linear-gradient(#fb6da3, #ff6868);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

#heart_icon {
    background: linear-gradient(white,#FFD700, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

#school_icon {
    background: linear-gradient(#4CB8C4, #3CD3AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

#work_icon {
    background: linear-gradient(#989898, #f9f9f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

#home_icon {
    color: #ffffff;
    font-size: 4rem;
}

.date {
    font-style: italic;
    font-size: .8rem;
}
.location {
    font-size: .8rem;
}
.description {
    font-size: .8rem;
}

.resume_sub {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#like_container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#incrementButton {
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-image: linear-gradient(135deg, white, rgb(58, 66, 110), rgb(58, 66, 110), rgb(58, 66, 110), rgb(58, 66, 110));
    border-radius: 50%;
    outline: 1px black solid;
    color: white;
}

#like_icon {
    font-size: 3rem;
}


.like_counter {
    opacity: 0;
    background: black;
    border: #4DD091 1px solid;
    padding: 10px;
    font-size: 20px;
    color: white;
}

@media (max-width: 768px) {
    .name_wrapper {
        position: relative;
        width: 100%;
        padding-top: 0%;
        height: 100%;
        top: 0;
        
    }
    .space_container {
        text-align: center;
        height: 3rem;
    }
    .information {
        font-size: 1rem;
    }
    .main_container {
        position: relative;
        width: 100%;
        justify-content: center;
        height: 8rem;
    }
    .typed {
        text-align: center;
        font-size: 1.5rem;
    }
    #main_body {
        position: flex;
        justify-content: center;
        width: 80%;
    }
    .bio_container {
        position: flex;
        justify-content: center;
        padding: 0%;
        word-break: keep-all;

    }
    .like_counter {
        padding: 10px;
        font-size: 12px;
    }
    .school_img {
        max-width: 80px;
        max-height: 80px;
        margin: 20px;
    }
    .access_btn {
        height: 60px;
        width: 60px;
    }
    #incrementButton {
        height: 50px;
        width: 50px;
    }
    .progress_bar_container {
        flex-wrap: wrap;
    }
    .skills-wrapper .bar .progress-bar {
        height: 3px;
    }
    #like_icon {
        font-size: 1.5rem;
    }
    #heart_icon, #youtube_icon, #baby_icon, #school_icon, #work_icon, #home_icon { 
        font-size: 2rem;
    }
    #sub_body {
        font-size: 1rem;
    }
    .date, .location, .description {
        font-size: .6rem;
    }
    
}

 @media (max-width: 1375px) and (min-width: 768px) {
    .name_wrapper {
        position: relative;
        width: 35%;
        padding-top: 0%;
        height: 100%;
        top: 0;
        
    }
} 

